
/* ---- particles.js container ---- */
html{
  background-color: black;
  padding: 0 auto;
  margin: 0 auto;
  height: 100%;
}

body{
  background-color: black;
  padding: 0 auto;
  margin: 0 auto;
  height: 100%;
}

#root{
  position: absolute;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.navbar{
  background-color: dimgray;
  opacity: 0.75;

  margin: 20%;
  padding: 10%;

  border-radius: 15px;
}

.navbar-form-button{
  width: 100%;
  margin: 2%;
  
  border-radius: 15px !important;
  border: 2px solid black !important;

  background-color: transparent !important;
}

.navbar-form-button:hover{
  background-color: black !important;
}

.container{
  background-color: dimgray;
  opacity: 0.75;

  margin: 10% !important;
}


