.about-container {
    padding-top: 50px;
    min-height: 85vh;
    padding-bottom: 50px;
}

.about-container-image {
    display: block !important;
    margin: 0 auto !important;
}

.about-container-image-mobile {
    display: none;
    margin: 0 auto;
    margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
    .about-container-image-mobile {
        display: block;
    }

    .about-container-image {
        display: none !important;
    }
}